/**- Los enlaces de la navegaci칩n deben tener el formato "[nombre de la secci칩n]". Hacer uso de pseudoelementos para insertar los corchetes.
/**- Al pasar el cursor sobre los enlaces de navegaci칩n superior o hacer click sobre ellos, deben cambiar a un tono m치s claro de gris el fondo.   
/**- Al hacer click en los enlaces, deben cambiar a morado.
/**- Al darle foco a los enlaces (por ejemplo, con la tecla TAB), deben cambiar a morado y mostrar un borde morado alrededor de ellos.
/**- Al pasar por encima, los enlaces tienen que volverse rojos.
/**- Los elementos de aventuras en la lista tienen que sustituir el punto por el emoji "游" con un padding-left de 5 pixeles.*/



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    font-family: Arial, sans-serif;
}
  
header {
    background-image: url(https://lumiere-a.akamaihd.net/v1/images/pp_xmen1992_herobanner_21369_2ead90c7.jpeg?region=0,0,2048,878);
    background-size: cover;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
header h1 {
    color: white;
    text-align: center;
    font-size: 2em;
}
  
nav {
    background-color: #333;
}
  
nav ul {
    display: flex;
    list-style: none;
}
  
nav li {
    flex: 1;
    text-align: center;
}
  
nav a {
   display: block;
    padding: 20px 0;
    color: white;
    text-decoration: none;
}
  
  /*HOVER Y FOCUS AL NAV */
nav a:hover {
    outline: 2px solid purple; /* Borde morado al darle foco */
    background-color: #555; /* Cambia a un tono m치s claro de gris */
    color: red; /* Los enlaces se vuelven rojos al pasar por encima */
}
  
main {
    padding: 20px;
}
  
section {
    margin-bottom: 20px;
}
  
section h2 {
    text-align: center;
    margin-bottom: 20px;
}
  
section ul {
    display: flex;
    justify-content: space-around;
}
  
section li {
    margin: 0 10px;
    list-style-type: none;
}
  
  /* SUSITUIR EL PUNTO DE LA LISTA POR LA X */
main li::before{
    content: "游";
    padding-left:5px;
}

section a {   
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

  /* A칌ADIR CORCHETES A LOS ENLACES */
nav a:before,
section li a:before {
    content: "[";
}
  
nav a:after,
section li a:after {
    content: "]";
}
  /* A칌ADIR HOVER A LOS ENLACES */
section a:hover {
    color: red; /* Los enlaces se vuelven rojos al pasar por encima */
}
  /* A칌ADIR FOCUS A LOS ENLACES */

nav a:focus {
    outline: 2px solid purple; /* Borde morado al darle foco */
    background-color: purple; /* Cambia a morado al darle foco */
    color: white;
}
    
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
  
footer p {
    margin: 0;
    font-size: 0.8em;
}