


#startButton {
    width: 10vw;
    height: 5vh;
    display: block;
    margin: auto;
    background-color: initial;  /* Evita que cambie de color al pulsarlo */
}

button {
    width: 150px;
    height: 150px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 600px;
    margin: auto; /* Agrega margen automático para centrar horizontalmente */
    place-items: center; /* Centra en ambas direcciones (horizontal y vertical) */
}

