
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% del alto de la ventana */
}

.buttonsSquare  {
    height: 22vh; /* Ajusta la altura según tus necesidades */ 
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 2px;
    margin: 2px;
    background-size: cover;  /* Ajusta el tamaño de la imagen para cubrir completamente el fondo */
    background-position: center;  /* Centra la imagen en el fondo */
    background-repeat: no-repeat;
}

.containerButton {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    max-width: 80vw;
    margin: 0 0 0 19vw;
    padding-top: 1vh;
}


#button-restart {
    display: block;
    margin: auto;
    margin-top: 20px; /* Ajusta según sea necesario para el espaciado desde la parte superior */
    width: 180px;
    height: 80px;
    background-color: var(--fondo);
}
