header  {
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  background: #000000;
  -webkit-box-shadow: 0px 8px 30px -3px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 0px 8px 30px -3px rgba(0, 0, 0, 0.61);
  box-shadow: 0px 8px 30px -3px rgba(0, 0, 0, 0.61);
  z-index: 100;
  @media (max-width: 600px) {
    flex-direction: column;
  }
 
  & nav img {
    width: 20%;
    margin: 1em;
    transition: ease-in-out 0.3s;
    @media (max-width: 600px) {
      width: 40%;
    }
    &:hover {
      transform: scale(1.2);
    }
  }
  & .logo {
    min-width: 15vw;
    height: 20vh;
    object-fit: cover;
    @media (max-width: 600px) {
      width: 30vw;
      height: 10vh;
    }
  }
  & nav {
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#imagenLogo {
  background-image: url("img/pokemon-logo1.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 25vw;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
    @media (max-width: 600px) {
    width: 30vw;
    height: 10vh;
  }
}