/** 1. Cuáles son las diferentes formas de implementar CSS en un documento HTML.
/** 2. Cuál es la metodología correcta y más común.
/**  3. Cómo aplicar nuestros primeros estilos a un documento HTML. **/


body {
    background-color: rgb(43, 43, 43);
    color: whitesmoke;
  }
  
h1 {
    text-transform: uppercase;
  }
  
li {
    color: crimson;
    font-style: italic;
}