header {
    width: 100vw;
    height: 20vh;
    background-image: url(img/rick-2.jpg);
    background-size: 100% 180%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 1rem;
    position: fixed; 
}


