


#encuadrar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0px;
    height: 70vh;
    background-color: rgba(158, 158, 158, 0.418);  
    
    @media (max-width: 500px) {
        width: 100vw; 
        height: 70vh;     
    }
    @media (max-width: 501px) and (max-width: 799px) {
        width: 100vw; 
        height: 70vh;     
    }
    @media (max-width: 800px) and (max-width: 1024px) {
        width: 100vw; 
        height: 70vh;     
    }
    @media (min-width: 1024px) and (max-width: 1026px) {
        width: 100vw;
        height: 70vh;
      }
    @media (max-width: 1025px) and (max-width: 1444px) {
        width: 100vw;
        height: 70vh;
    }    
}


#puntuacion {
    color: red;
    text-align: center;
}

#tiempo {
   
    font-weight: bold;
}

#time-left {
    color: red;
}

.square {
    width: 8.6vw;
    height: 16vh;
    border: 2px solid black;
    cursor: url('../../../public/img/pk1.png'), auto;
    margin: 2px;

    @media (max-width: 500px) { 
        width: 32%;
        height: 32%;
        flex-wrap: wrap;
    }
    @media (min-width: 501px) and (max-width: 799px) {
        width: 32%;
        height: 32%;
      }
    @media (min-width: 800px) and (max-width: 1023px) {
        width: 32%;
        height: 32%;     
    }
    @media (min-width: 1024px) and (max-width: 1026px) {
        width: 32%;
        height: 32%;
      }
    @media (min-width: 1027px) and (max-width: 1444px) {
        width: 32%;
        height: 32%;
    }       
}
#topo {
    font-size: 2rem;
}


div.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    height: 50.6vh;
    width: 27vw; 
    background-color: rgba(165, 42, 42, 0.445);
    background-image: url(../../../public/img/ground-texture.jpg); 
    background-size: cover;
    border: 3px solid black;        

    @media (max-width: 500px) {
        width: 90%;
        height: 68%;
           }
    @media (min-width: 501px) and (max-width: 799px) {             
            height: 74%;     
               }       
    @media (min-width: 800px) and (max-width: 1024px) {             
        height: 74%;     
           }
    @media (min-width: 1024px) and (max-width: 1026px) {
       
        height: 65%;
          }
    @media (min-width: 1027px) and (max-width: 1444px) {
             height: 74%;
    }              
}

.mole {
    background-image: url("../../../public/img/dig.png");
    background-size: cover;
    background-repeat: no-repeat;
    
    @media (max-width: 500px) {
        background-size: 90%;
        background-position: center;
    }
    @media (max-width: 550px) {
        background-size: 70%;
        background-position: center;
    }
    @media (min-width: 551px) and (max-width: 799px) {
        background-size: 80%;
        background-position: center;
    }
    @media (min-width: 800px) and (max-width: 1023px) {
        background-size: 80%;
        background-position: center;
    }
    @media (min-width: 1024px) and (max-width: 1026px) {
      background-size: 58%;
      background-position: center;
    }

    @media (min-width: 1027px) and (max-width: 1444px) {
        background-size: 85%;
        background-position: center;
      }


    
}

#game-over-message  {
    color: black;   
    justify-content: center;
    margin-top: 20vh;
    text-align: center;
}

#score-message  {
    color: black;
    justify-content: center;
    height: 5vh;

}

#restart-button {
    display: block;
    margin: auto;
    margin-top: 20px; /* Ajusta según sea necesario para el espaciado desde la parte superior */
    width: 150px;
    height: 50px;
    background-color: var(--fondo);
}