* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    min-height: 100vh;
}


body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
.container {
    display: flex;
}

.header {
    height: 20vh;
    background: darkmagenta;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 16px;
    margin-top: 16px;
}

section {
    display: flex;
    height: 60vh;
}

section .sidebar {
    max-width: 150px;
    border: 1px black solid;
    background: royalblue;
    padding: 16px;
    margin: 5px;
    display: flex;   
    align-items: flex-start;
}

section .sidebar a {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

section .content {
    padding: 32px;
    display: flex;

}


section .card {  
    border: 1px solid black;
    background-color: rgba(128, 128, 128, 0.308);    
    margin: 10px;    
    width: 24vw;
    
    box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
}
#containerCrearCaja {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#cajasContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer {
    height: 7vw;
    background: #eee;
    color: darkmagenta;
    display: flex;
    align-items: center;
    justify-content: center;
  }
/** este no me sale **/