* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
    width: 100vw;
    min-height: 100vh;
}

#transition-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
  border-radius: 8px;
  border: none;
  background-color: #2563eb;
  color: white;
  font-size: 18px;
  padding: 16px 24px;
  text-align: center;
  cursor: pointer; /** indicamos que es flexive **/
  transition: transform 0.3s ease-in-out; //** definir duracion - esae in out se usa para definir la curva de la animacion para que se vea mas suave**/
}

button:hover {
 transform: scale(1,2); /** transformamos la escala **/
}
