@import url("https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300;400;700&display=swap");

* {
  font-family: "Anek Telugu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    width: 100vw;
    min-height: 100vh;
}


body {
  background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
  background-size: -50%;
  overflow: hidden;
}

h1 {
  background-color: aquamarine;
  padding: 5px;
  margin: 5px;
}

.content {  
    background-color: blue;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
    padding: 5px;
    margin: 5px;
}

